/*! state.css for massimo.css v1.0.0 | MIT License */

/* ==========================================================================
   State Clases
   ========================================================================== */



/* ==========================================================================
   Pseudo-Classes
   ========================================================================== */




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 767px) {

  .dsp-1,
  .txt-1 {
    font-size: 3rem; /* 3x body */
    line-height: 3rem;
    letter-spacing: -.1rem;
  }

  .dsp-2,
  .txt-2 {
    font-size: 2rem; /* 2x body */
    letter-spacing: normal,
  }

}


